:root {
    --primary-color: #bcd9f5;
    --secondary-color: #e6ebe0;
    --accent1-color: #599da2;
    --accent2-color: #f0bc4d;
    --background-color: #f8f9fa;
    --text-color: #333333;
    --heading-font: 'Boldonse', serif;
    --paragraph-front: 'Merriweather', sans-serif;
}

body {
    font-family: var(--paragraph-front);
    margin: 0;
    padding: 0;
}

header {
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 0 20px;
}

header img {
    height: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: var(--paragraph-front);
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--accent1-color);
}

nav a:hover {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

main {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: .5rem;
    background-color: #ffffff61;
}

.hero article {
    background-color: #ffffff61;
    position: absolute;
    top: 10rem;
    left: 2rem;
    right: 1rem;
    padding: 2rem;
}

.hero article img {
    float: right;
    max-width: 15rem;
}

.hero article p {
    color: var(--text-color);
    text-align: left;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    text-align: center;
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

section:nth-of-type(2) img {
    width: 100%;
    height: auto;
}

footer {
    background-color: var(--background-color);
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

footer p {
    text-align: center;
}

footer .socialmediaicons {
    display: flex;
}

footer .socialmediaicons a {
    margin: 0 2rem;
}

footer .socialmediaicons img {
    height: 30px;
}