:root {
    --primary-color: #bcd9f5;
    --secondary-color: #e6ebe0;
    --accent1-color: #599da2;
    --accent2-color: #f0bc4d;
    --background-color: #ffffff61;
    --text-color: #333333;
    --heading-font: 'Boldonse', serif;
    --paragraph-front: 'Merriweather', sans-serif;
}

body {
    font-family: var(--paragraph-front);
    margin: 0;
    padding: 0;
}

header {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    max-width: 1000px;
}

header img {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-family: var(--paragraph-front);
}

nav a {
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--accent1-color);
}

nav a:hover {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

main {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1em;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
}

.hero article {
    background-color: var(--background-color);
    position: absolute;
    top: 10rem;
    left: 2rem;
    right: 1rem;
    padding: 2rem;
}

.hero article img {
    float: right;
    max-width: 15rem;
}

.hero article p {
    color: var(--text-color);
    text-align: left;
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    padding: 1em 0;
    margin-top: 10%;
}

section img {
    height: 50%;
}

section h2 {
    grid-column: 1/span 3;
    justify-self: center;
}

section figcaption {
    font-size: smaller;
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

section:nth-of-type(2) h2 {
    grid-column: 1/span 5;
    grid-row: 1;
    justify-self: center;
}

section:nth-of-type(2) img {
    width: 100%;
    height: auto;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 1em;
}

footer {
    background-color: var(--background-color);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .socialmediaicons {
    grid-column: 3;
}

footer .socialmediaicons a {
    margin: 0 2rem;
}

footer .socialmediaicons img {
    height: 30px;
}